<% title "Party" %>
<table>
<tr>
	<td>
		<h2>  <%= @party.name %> </h2>
		<p>
		  <strong>Party Type:</strong>
		  <%= @party.party_type.name %>
		</p>

		<p>
		  <strong>Location:</strong>
		  <%= link_to "#{@party.location.name.to_s}", @party.location %>
		</p>
		<p>
		  <strong>Date:</strong>
		  <%= @party.date.strftime("%m/%d/%Y") %>
		</p>
		<p>
		  <strong>Start Time:</strong>
		  <%= @party.start_time.strftime("%I:%M%p") %>
		</p>
		<p>
		  <strong>End Time:</strong>
		  <%= @party.end_time.strftime("%I:%M%p") %>
		</p>
		<p>
		  <strong>Description:</strong>
		  <%= @party.description %>
		</p>
		<p>
		  <strong>Rsvp Date:</strong>
		  <%= @party.rsvp_date.strftime("%m/%d/%Y") %>
		</p>
		</td>
		<td>
		<h1>Confirmed Guests</h1>
		<% for invitation in @party.invitations %>
			<% if(invitation.actual_attendees != nil) %>
				<h2> - <%= invitation.guest.name.capitalize%> </h2>
			<% end %>
		<% end %>
	</td>
	</tr>
<tr>
	<td>
	<% if (logged_in?) %>
		<p>
		  <%= link_to "Edit", edit_party_path(@party) %> |
		  <%= link_to "Destroy", @party, :confirm => 'Are you sure?', :method => :delete %> |
		  <%= link_to "View All", parties_path %>
		</p>
	<% end %>
	</td>
	<td></td>
</tr>
</table>