<p class="supertiny">&nbsp;</p>

<div id="footer">
	
	<%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to 'About', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Contact Us', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', home_path %>
	<br /><br />
	<div id="copy">
		Webmaster: <%= mail_to("aphophal@andrew.cmu.edu", "Anish Phophaliya", :encode => "javascript") %> 
		&nbsp;&nbsp;&copy 2011
	</div>

</div>