<% if logged_in? %>
<div id="welcome">
<br>
Welcome
<%= current_host.first_name.capitalize %>
<%= current_host.last_name.capitalize %>
</div>
<br>
<h1 style="color:green">UPCOMING PARTY</h1>
<br>
<%= render :partial => 'partials/latest_party' %>
<%else%>

<h1 style = "font-size:35px; font-family:Cambria;font-style:bold;color:#2E8B57">Welcome to the Party Planner</h1>
<br><br>

<% end %>
<% if !logged_in? %>
	<p style = "font-family:Times New Roman; font-size:25px;  ">
	<%= link_to 'Login', login_path %>
	/
	<%= link_to 'Signup', signup_path %>
	/
	<%= link_to 'RSVP', start_rsvp_path %>
	</p>
<% end %>