<%= form_for @gift do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :invitation_id %><br />
	<%= f.collection_select :invitation_id, current_host.invitations, :id, :name, :prompt => "Select an invitation" %>
	&nbsp&nbsp&nbsp&nbsp&nbsp<a href=/invitations/new target="_blank">Add New Invitation</a>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %><br />
	<span class="note">Please enter a message you would like to add to the thank you note.</span><br /><br /> 
  </p>
  <p><%= f.submit %></p>
<% end %>
