<%= form_for @gift do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :invitation_id %><br />
	<%= f.collection_select :invitation_id, current_host.invitations, :id, :name, :prompt => "Select an invitation" %>
	&nbsp&nbsp&nbsp&nbsp&nbsp<a href=/invitations/new target="_blank">Add New Invitation</a>
  </p>
  
  <p>
    <%= f.label :note_sent_on %><br />
    <%= f.date_select :note_sent_on %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
