<h1> Gifts </h1>
<br>
<table>
  <tr>
    <th>Invitation</th>
    <th>NoteSentOn</th>
    <th>Description</th>
  </tr>
  
  <% for gift in @gifts %>
    <tr>
      <td><%= gift.invitation.guest.name + " for " + gift.invitation.party.name %></td>
      <td><%= gift.note_sent_on.strftime("%m/%d/%Y") %></td>
      <td><%= gift.description %></td>
      <td><%= link_to "Show", gift %></td>
      <td><%= link_to "Edit", edit_gift_path(gift) %></td>
      <td><%= link_to "Destroy", gift, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Gift", new_gift_path %></p>
