<h1>
Gift
</h1>
<p>
<strong>Invite for</strong>
<%= @gift.invitation.name %>
</p>
<p>
  <strong>Note Sent On:</strong>
  <%= @gift.note_sent_on.strftime("%m/%d/%Y") %>
</p>
<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>

<p>
  <%= link_to "Edit", edit_gift_path(@gift) %> |
  <%= link_to "Destroy", @gift, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", gifts_path %>
</p>
