<%= form_for @invitation do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :party_id %><br />
	<%= f.collection_select :party_id, current_host.parties, :id, :name, :prompt => "Select a party" %>
	&nbsp&nbsp&nbsp&nbsp&nbsp<a href=/parties/new target="_blank">Add New Party</a>
  </p>
  <p>
    <%= f.label :guest_id %><br />
	<%= f.collection_select :guest_id, current_host.guests, :id, :name, :prompt => "Select a guest" %>
	&nbsp&nbsp&nbsp&nbsp&nbsp<a href=/guests/new target="_blank">Add New Guest</a>
  </p>
  <p>
    <%= f.label :expected_attendees %><br />
    <%= f.text_field :expected_attendees %>
  </p>
  <p><%= f.submit %></p>
<% end %>

