<% title "Invitations" %>

<table>
  <tr>
    <th>Party</th>
    <th>Guest</th>
    <th>Invite Code</th>
    <th>Expected Attendees</th>
    <th>Actual Attendees</th>
  </tr>
  <% for invitation in @invitations %>
    <tr>
      <td><%= invitation.party_id %></td>
      <td><%= invitation.guest_id %></td>
      <td><%= invitation.invite_code %></td>
      <td><%= invitation.expected_attendees %></td>
      <td><%= invitation.actual_attendees %></td>
      <td><%= link_to "Show", invitation %></td>
      <td><%= link_to "Edit", edit_invitation_path(invitation) %></td>
      <td><%= link_to "Destroy", invitation, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Invitation", new_invitation_path %></p>
