<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- need the xmlns attr for formtastic -->
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>PartyPlanner :: <%= controller.controller_name.capitalize %></title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<%= stylesheet_link_tag 'text', 'layout', 'datagrid', 'formtastic', 'formtastic_changes', :cache => 'base' %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>

	<body>
	  <div id="wrap">
		<br />
		<%# render :partial => 'partials/navigation' %>

		<div style="clear:both;"></div>
	    	<div id="body">
			  <% flash.each do |name, msg| %>
		      <%= content_tag :div, msg, :id => "flash_#{name}" %>
		      <% end %>
				<table border="0" cellspacing:"20">
					<tr>
						<td></td><br>
						<td></td>
					</tr>
					<tr>
						<td>
							<!-- if logged in, give side navigation -->
							<% if logged_in? %>
								<%= render :partial => 'partials/side_nav' %>
							<!-- otherwise display a nice collection of animal pictures  -->
							<% else %>
								<%# render :partial => 'partials/animal_pics' %>
							<% end %>
						</td>
						
						<td style = "width:100%">
							<%= content_tag :h1, yield(:title) if show_title? %>
							<%= yield %>
						</td>
					</tr>
				</table>
			</div> <!-- end of body div -->

			<%= render :partial => "partials/footer" %>
		</div><!-- end of wrap div -->
	</body>
</html>